@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-shade: #004892;
  --color-primary-tint: #0070e4;
  --color-primary-rgb: 0, 92, 187;
  --color-primary: #005cbb;
  --color-on-primary: #ffffff;
  --color-primary-container: #d7e3ff;
  --color-on-primary-container: #001b3f;
  --color-secondary: #565e71;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #dae2f9;
  --color-on-secondary-container: #131c2b;
  // --color-surface: #fdfbff;
  --color-surface: #ffffff;
  --color-on-surface: #1a1b1f;
  --color-surface-variant: #e0e2ec;
  --color-on-surface-variant: #44474e;
  --color-outline: #74777f;
  --color-outline-variant: #c4c6d0;
  --color-inverse-surface: #2f3033;
  --color-inverse-on-surface: #f2f0f4;
  --color-inverse-primary: #abc7ff;
  --color-surface-0: #f3f5f9;
  --color-surface-1: #f0f3fc;
  --color-surface-2: #e9eefa;
  --color-surface-3: #e1eaf8;
  --color-surface-4: #dfe8f7;
  --color-surface-5: #dae5f5;

  --color-code: #6f43c0;
  --color-pre-bg: #21242a;
  --color-pre-color: #e3e2e6;
  --color-red: #c0000a;
  --color-green: #006e24;
  --color-orange: #8c5000;
}
.dark {
  --color-primary-shade: #82acff;
  --color-primary-tint: #d4e2ff;
  --color-primary-rgb: 171, 199, 255;
  --color-primary: #abc7ff;
  --color-on-primary: #002f65;
  --color-primary-container: #00458f;
  --color-on-primary-container: #d7e3ff;
  --color-secondary: #bec6dc;
  --color-on-secondary: #283041;
  --color-secondary-container: #3e4759;
  --color-on-secondary-container: #dae2f9;
  --color-surface: #1a1b1f;
  --color-on-surface: #e3e2e6;
  --color-surface-variant: #44474e;
  --color-on-surface-variant: #c4c6d0;
  --color-outline: #8e9099;
  --color-outline-variant: #44474e;
  --color-inverse-surface: #e3e2e6;
  --color-inverse-on-surface: #2f3033;
  --color-inverse-primary: #005cbb;
  --color-surface-0: #141518;
  --color-surface-1: #21242a;
  --color-surface-2: #262931;
  --color-surface-3: #2a2e38;
  --color-surface-4: #2b303a;
  --color-surface-5: #2e333e;

  --color-code: #d3bbff;
  --color-red: #ffb4aa;
  --color-green: #55e16b;
  --color-orange: #ffb874;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, system-ui, Helvetica Neue, Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  background-color: #0f0f0f;
  scroll-behavior: smooth;
}

body.light {
  background-color: #f2f2f2;
  color: #1e1e1e;
}

body.dark {
  background-color: #0f0f0f;
  color: #fafafa;
}

html::-webkit-scrollbar,
.scroll-style::-webkit-scrollbar {
  width: 11px;
  background-color: rgba(180, 189, 197, 0.877);
}

html::-webkit-scrollbar-thumb,
.scroll-style::-webkit-scrollbar-thumb {
  width: 10px;
  height: 60px;
  background-color: #1e1e1e;
  border-radius: 5px;
  border: 1px solid rgba(180, 189, 197, 0.877);
}

a {
  color: inherit;
  text-decoration: none;
}

.images-web {
  width: 100%;
  aspect-ratio: 631 / 383;
  object-fit: cover;

  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: scroll;

  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

@keyframes scroll {
  from {
    opacity: 0;
    scale: 15%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
  }
}

.images-client {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -99;

  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: scroll;

  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  75% {
    transform: rotate(10deg);
  }
}

.shake {
  animation: shake 1s;
}

.custom-text-shadow {
  text-shadow: 0 0 10px #88d456;
}

/**=================|
#  SLIDER SECTION   |
===================*/
.slider {
  grid-area: slider;
  justify-content: center;
  margin: auto;
}

.slider .gallery {
  width: auto;
  height: 40rem;
  position: relative;
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.gallery img {
  width: 100%;
  height: 100%;
  position: sticky;
  left: 0;
  flex-shrink: 0;
  object-fit: cover;
  scroll-snap-align: start;
}

/* ==============> HR <============== */

.hr-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 12px;
}

.hr-container hr {
  flex-grow: 1;
  height: 2px;
  background-color: #666;
  border: none;
  margin: 0 10px;
}

* {
  box-sizing: border-box;
}

pre {
  position: relative;
}

.nav-switch {
  position: sticky;
  top: 48px;
  animation: add-shadow linear both;
  animation-timeline: scroll();
  animation-range: 0 150px;
}

@keyframes add-shadow {
  to {
    box-shadow: 0 5px 5px -3px rgba(255, 255, 255, 0.25);
    background: #1e1e1e;
  }
}

.list-css-span span {
  border: 1px solid #1e293b;
  padding: 2px 4px;
  border-radius: 3px;
  margin: 0 3px;
}

.indice a {
  color: #f2f2f2;
}

/*-------------------|
-- TOOLTIPS -- HOVER |
--------------------*/

.tooltip {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}

.tooltip:hover::after {
  visibility: visible;
  opacity: 1;
}

.tooltip::before {
  content: attr(data-tooltip);
  visibility: hidden;
  background-color: #282828;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -3px;
  left: 180%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  width: fit-content;
  font-size: 14px;
  z-index: 99;
}

.tooltip:hover::before {
  visibility: visible;
  opacity: 1;
}

.tooltip img {
  cursor: pointer;
}
@media (max-width: 400px) {
  .link-icon {
    font-size: smaller;
  }
}

@import 'atropos/scss';
@import './home-header.scss';
@import './prose.scss';
