@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    --color-secondary: #565e71;
    --color-on-secondary: #ffffff;
    --color-secondary-container: #dae2f9;
    --color-on-secondary-container: #131c2b;
    --color-surface: #ffffff;
    --color-on-surface: #1a1b1f;
    --color-surface-variant: #f3f3f3;
    --color-on-surface-variant: #44474e;
    --color-outline: #74777f;
    --color-outline-variant: #c4c6d0;
    --color-inverse-surface: #2f3033;
    --color-inverse-on-surface: #f2f0f4;
    --color-inverse-primary: #abc7ff;
    --color-surface-0: #f3f5f9;
    --color-surface-1: #f0f3fc;
    --color-surface-2: #e9eefa;
    --color-surface-3: #e1eaf8;
    --color-surface-4: #dfe8f7;
    --color-surface-5: #dae5f5;
    --button-variant: #0f0f0f;
    --text-shadow: #6f43c0;
    --tp-link-icon: #4acbd6;
    --ubiquiti-icon: #0559c9;
    --mikrotik-icon: #293239;
    --bg-card: #f7f9f9;
    --second-color-text: #363636;
    --image-shadow: #bbbbc0;

    --color-code: #6f43c0;
    --color-pre-bg: #21242a;
    --color-pre-color: #e3e2e6;
    --color-red: #c0000a;
    --color-green: #006e24;
    --color-orange: #8c5000;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-on-primary-container: #d7e3ff;
    --color-secondary: #bec6dc;
    --color-on-secondary: #283041;
    --color-secondary-container: #3e4759;
    --color-on-secondary-container: #dae2f9;
    --color-surface: #09090b;
    --color-on-surface: #e3e2e6;
    --color-surface-variant: #0f1419;
    --color-on-surface-variant: #c4c6d0;
    --color-outline: #8e9099;
    --color-outline-variant: #44474e;
    --color-inverse-surface: #e3e2e6;
    --color-inverse-on-surface: #2f3033;
    --color-inverse-primary: #005cbb;
    --color-surface-0: #141518;
    --color-surface-1: #21242a;
    --color-surface-2: #262931;
    --color-surface-3: #2a2e38;
    --color-surface-4: #2b303a;
    --color-surface-5: #2e333e;
    --button-variant: #f1f1f1;
    --text-shadow: #88d456;
    --tp-link-icon: #4acbd6;
    --ubiquiti-icon: #0559c9;
    --mikrotik-icon: #293239;
    --bg-card: #16181c;
    --second-color-text: #9c9ca4;
    --image-shadow: #16181c;

    --color-code: #d3bbff;
    --color-red: #ffb4aa;
    --color-green: #55e16b;
    --color-orange: #ffb874;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, system-ui, Helvetica Neue, Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-surface);
  scroll-behavior: smooth;
}

body.loading * {
  transition: none !important;
}

body::-webkit-scrollbar {
  width: 11px;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #0f0f0f6e;
  border: 1px solid #8e909969;
  border-radius: 5px;
  height: 80px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #0f0f0f;
  border: 1px solid #8e9099;
  transition: 0.3s ease-in-out;
}

.nav-header {
  background-color: rgba(255, 252, 252, 0.753);
}

@media (max-width: 388px) {
  .youtube-aside {
    transform: scale(0.8);
    position: relative;
    left: -30px;
    gap: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.router-mode p {
  margin: 10px 0 10px;
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
  }
}

.images-client {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -99;
  filter: drop-shadow(3px 6px 9px var(--image-shadow));

  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: scroll;

  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

@keyframes scroll {
  from {
    opacity: 0;
    scale: 15%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.nav-switch {
  position: sticky;
  top: 48px;
  animation: add-shadow linear both;
  animation-timeline: scroll();
  animation-range: 0 150px;
}

@keyframes add-shadow {
  to {
    background: var(--color-surface);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  75% {
    transform: rotate(10deg);
  }
}

.shake {
  animation: shake 1s;
}

.search-bar input:focus {
  outline: none;
}

.images-client img,
video {
  border-radius: 10px;
}

.custom-text-shadow {
  text-shadow: 0 0 10px var(--text-shadow);
  font-weight: bold;
}

/* ==============> HR <============== */

.hr-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 12px;
}

.hr-container hr {
  flex-grow: 1;
  height: 2px;
  background-color: #666;
  border: none;
  margin: 0 10px;
}

* {
  box-sizing: border-box;
}

pre {
  position: relative;
  background-color: #181818;
  color: #006e24;
}

.shadow-icon {
  filter: drop-shadow(0 0 10px rgb(217, 226, 235));
  transition: 0.3s all;
}

.shadow-icon:hover {
  transform: scale(1.15);
}

.disquet {
  width: 190px;
  height: 190px;
}

.github-icon,
.neotecs-logo path,
.html-icon {
  fill: var(--color-on-surface);
}

.stroke-neotecs-logo {
  stroke: var(--bg-card);
}

.x-icon {
  fill: var(--color-code);
}

.tplink-icon {
  fill: var(--tp-link-icon);
}

.ubiquiti-icon {
  fill: var(--ubiquiti-icon);
}

.mikrotik-icon {
  fill: var(--mikrotik-icon);
}

.list-css-span span {
  font-family: monospace;
  font-weight: 500;
  border: 1px solid var(--color-outline-variant);
  padding: 1px 4px;
  border-radius: 3px;
  margin: 0 3px;
}

.indice a {
  color: var(--color-on-surface);
}

.indice a:hover {
  color: #ef4444;
}

.link-icon {
  display: inline;
  height: 1em;
  width: 1em;
  margin-inline: 3px;
  margin-bottom: 3px;
}

.link:hover .link-icon {
  transform: translateY(-4px);
  transition: 0.2s all;
}

@media screen and (min-width: 400px) {
  .link-icon {
    width: 0.9em;
    height: 0.9em;
    margin-inline: 3px;
    margin-bottom: 3px;
  }
}

.effect-background {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #006e24;
}

.code-block {
  border-radius: 5px;
  background-color: #303030;
  overflow-x: auto;
  text-rendering: optimizeLegibility;
}

.image-markdown {
  margin-block: 15px;
}

.custom-li {
  list-style: disc;
  margin-left: 20px;
}

.description-scraper {
  padding: 6px;
  margin: 10px;
  font-weight: 600;
  background-color: var(--button-variant);
  color: var(--color-inverse-on-surface);
}

.label-feedback {
  display: grid;
  color: var(--button-variant);
}

.label-feedback input,
textarea {
  color: #333;
  border: solid 0.5px var(--color-outline);
  border-radius: 3px;
  padding: 8px;
}

.feedback-button {
  background-color: transparent;
  font-weight: 600;
  border: 0.5px solid #cfd0d2;
}

.feedback-button::after {
  filter: blur(5px);
}

.feedback-button:hover {
  transform: scale(1.06);
  box-shadow: 0px 0px 6px var(--color-on-surface-variant);
  transition: 0.2s ease-in-out;
}

#result p {
  padding-inline: 10px;
}

@media (min-width: 1280px) {
  .scroll-bar::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    border-radius: 10px;
  }
  .scroll-bar::-webkit-scrollbar-thumb {
    background-color: #0f0f0f6e;
    border: 1px solid #8e909969;
    border-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .scroll-bar::-webkit-scrollbar-thumb:hover {
    background-color: #0f0f0f;
    border: 1px solid #8e9099;
    transition: 0.3s ease-in-out;
  }
}

.chain-link {
  padding-bottom: 3px;
}

.lupa:hover {
  animation: lupa forwards;
  animation-duration: 0.4s;
}

@keyframes lupa {
  0% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.youtube-aside::-webkit-scrollbar {
  background-color: transparent;
  cursor: pointer;
}

.cookie-notice {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-surface-variant);
  color: var(--color-on-surface);
  padding: 10px;
  border-right: 1px solid var(--color-surface-4);
  border-left: 1px solid var(--color-surface-4);
  border-top: 1px solid var(--color-surface-4);
  text-align: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  animation: down-to-top forwards;
  animation-duration: 1s;
}

.accept-button {
  cursor: pointer;
  background-color: var(--button-variant);
  color: var(--color-surface-variant);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  outline: 1px solid var(--color-outline);
  outline-offset: 2px;
}

.accept-button:hover {
  outline: 2px solid var(--color-green);
}

@keyframes down-to-top {
  from {
    transform: translateY(300px);
  }
  to {
    transform: translateY(0);
  }
}

.policy > p,
li {
  color: var(--color-secondary);
  margin-left: 10px;
}

@import 'atropos/scss';
@import './home-header.scss';
@import './picture-box.scss';
@import './prose.scss';
@import 'github-markdown-css/github-markdown.css';
