.prose {
  h1,
  h2,
  h3,
  h4 {
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  padding-top: 112px;
}

@media (min-width: 1280px) {
  .prose {
    padding-top: 0px;
  }
}
@media (min-width: 1024px) {
  .prose {
    padding-top: 0px;
  }
}
